


/*----------------------------------------pro_main--------------------------*/
.pro_main{height:996px;}
				/*----------------where--本网页位置索引区------------*/
.where{height:58px; font:12px/58px "";}
.where p.left{width:400px; float:left; }
.where p.left a{color:#999;margin:0 5px;}
.where p.left span{color:#999; margin-left:5px;}
.where p.right{float:right; width:115px;height: 28px;}
				/*----------------generalInfo--所有促销信息汇总-----------*/
.generalInfo{height:918px; margin-top:20px;}
.generalInfo img{margin-left: 7px;margin-bottom: 7px;}



/*----------------------------------------sideBar--------------------------*/

ul.sideBar{width:110px; display:none; position:fixed; top:50%; left:38px; margin-top:-294px;height: 585px;background: url(../images/more_promote/more_info_bg.png) no-repeat; padding-top: 81px;}


